name: java-build_N_deploy-pipeline

pool: Self-Hosted

trigger: none

stages:
  - stage: applicationBuild
    displayName: Application Build and Package Artifacts
    jobs:

      - job: mavenBuild
        displayName: Build with Maven
        steps:

          - task: PowerShell@2
            displayName: Java Verification
            inputs:
              targetType: 'inline'
              script: |
                java --version
                mvn --version

          - task: Maven@3
            displayName: Maven Clean Package
            inputs:
              mavenPomFile: 'frontend/pom.xml'
              goals: 'clean package'
