name: java-build_N_deploy-pipeline

pool: Self-Hosted

trigger: none

stages:
  - stage: applicationBuild
    displayName: Application Build and Package Artifacts
    jobs:

      - job: mavenBuild
        displayName: Build with Maven
        steps:

          - task: Bash@3
            displayName: Verify Java & Maven
            inputs:
              targetType: 'inline'
              script: |
                which java
                java --version
                mvn --version

          - task: Bash@3
            displayName: Maven Build
            inputs:
              targetType: 'inline'
              script: |
                mvn clean package
              workingDirectory: '$(System.DefaultWorkingDirectory)/frontend'
