name: java-build_N_deploy-pipeline

pool: Self-Hosted

trigger: none

stages:
- stage: applicationBuild
  displayName: 'Java Application Build'
  jobs:
  - job: mavenBuild
    displayName: 'Build with Maven'
    steps:

    - task: Bash@3
      displayName: 'Verify Java & Maven'
      inputs:
        targetType: 'inline'
        script: |
          which java
          java --version
          mvn --version

    - task: Bash@3
      displayName: 'Maven Build'
      inputs:
        targetType: 'inline'
        workingDirectory: '$(Build.SourcesDirectory)/frontend'
        script: |
          mvn clean package

    - task: PublishPipelineArtifact@1
      displayName: 'Publish Build Artifacts'
      inputs:
        targetPath: '$(Build.SourcesDirectory)/frontend/target/'
        artifact: maven-build
        publishLocation: pipeline

- stage: applicationDeploy
  displayName: 'Java Application Deployment'
  dependsOn: applicationBuild
  jobs:
  - deployment: deployToVM
    displayName: 'Azure VM Deployment'
    environment:
      name: 'java-env-vm-fe'
      resourceType: VirtualMachine
    strategy:
      runOnce:
        deploy:
          steps:

          - task: DownloadPipelineArtifact@2
            displayName: 'Download Build Artifacts'
            inputs:
              buildType: current
              artifactName: maven-build
              targetPath: '$(Pipeline.Workspace)'

          - task: Bash@3
            displayName: 'Tomcat Artifact Deployment'
            inputs:
              targetType: 'inline'
              script: |
                sudo systemctl stop tomcat

                sudo rm -f /opt/tomcat/webapps/*.war
                sudo rm -rf /opt/tomcat/webapps/*/

                sudo cp $(Pipeline.Workspace)/*.war /opt/tomcat/webapps/

                sudo systemctl start tomcat
