name: java-build_N_deploy-pipeline

pool: Self-Hosted

trigger: none

stages:
  - stage: applicationBuild
    displayName: Application Build and Package Artifacts
    jobs:

      - job: mavenBuild
        displayName: Build with Maven
        steps:

          - task: Bash@3
            displayName: Set Java 21
            inputs:
              targetType: 'inline'
              script: |
                export JAVA_HOME=$(/usr/libexec/java_home -v 21)
                echo "JAVA_HOME=$JAVA_HOME"
                echo "##vso[task.setvariable variable=JAVA_HOME]$JAVA_HOME"
                java --version

          - task: Bash@3
            displayName: Verify Java & Maven
            inputs:
              targetType: 'inline'
              script: |
                which java
                java --version
                mvn --version

          - task: Bash@3
            displayName: Maven Build
            inputs:
              targetType: 'inline'
              script: |
                mvn clean package
              workingDirectory: '$(System.DefaultWorkingDirectory)/frontend'
